@import "../../common/utilities/_variables.scss";

.base-data-inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50%;
  width: 100%;

  padding: 2vh;
  border: 2px solid black;
  -webkit-box-shadow: 0px 0px 10px black;
  -khtml-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;

  background: $base-data-input-fallback-background;
  background: $base-data-input-background1;
  background: $base-data-input-background2;
}

@media screen and (max-width: 370px) {
  .base-data-inputs {
    width: 370px;
    box-shadow: none;
  }
}

@media screen and (max-height: 500px) {
  .base-data-inputs {
    height: 250px;
    -webkit-box-shadow: 0px -5px 10px black;
    -khtml-box-shadow: 0px -5px 10px black;
    -moz-box-shadow: 0px -5px 10px black;
    box-shadow: 0px -5px 10px black;
  }
}