@import "../common/utilities/_variables.scss";

.main-app {
  display: flex;
  flex-direction: column;
  // ^above added

  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1vh;

  background: $main-page-fallback-background;
  background: $main-page-background1;
  background: $main-page-background2;
}

@media screen and (max-height: 500px) {
  .main-app {
    padding: 0.5vh;
  }
}

@media screen and (max-width: 370px) {
  .main-app {
    overflow-x: auto;
    padding: 0;
    background: $white-background;
  }
}