.main-app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2vh;
}

@media screen and (max-height: 500px) {
  .main-app {
    padding: 1vh;
  }
}

@media screen and (max-width: 370px) {
  .main-app {
    overflow-x: auto;
    padding: 0;
  }
}