@import "../../common/utilities/_variables.scss";

.shopping-cart-grid {
  //margin: 1rem;
}

.shopping-cart-container {
  width: 50vw;
  height: 75vh;
  border: 2px solid purple;
  padding: 2vh;
  box-shadow: 1px 1px 10px green;

  //background: $game-board-fallback-background;
  //background: $game-board-background1;
  //background: $game-board-background2;
}