.item {
  height: 100%;
  width: 100%;
}

.item-structure {
  display: flex;
  flex: 1;
}

.item-column-left {
}

.item-column-right {
}

.item-price-strike {
  text-decoration-line: line-through;
  color: lightgrey;
}